<header id="main-header" class="py-2 text-white bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-gear"></i> Dashboard</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
                    <i class="fa fa-plus"></i> Add Post
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal">
                    <i class="fa fa-plus"></i> Add Category
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
                    <i class="fa fa-plus"></i> Add User
                </a>
            </div>
        </div>
    </div>
</section>

<!-- POSTS -->

<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Latest Posts</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" width="15%">Title</th>
                                <th scope="col">Category</th>
                                <th scope="col">Date Posted</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of latestPosts">
                                <td scope="row">{{ item.id }}</td>
                                <td style="text-overflow:ellipsis">{{ item.title }}</td>
                                <td>{{ 'Web Development'}}</td>
                                <td>{{ item.postedDate | date: 'mediumDate' }}</td>
                                <td>
                                  <a routerLink="/details" class="btn btn-secondary">
                                    <i class="fa fa-angle-double-right"></i> Details
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Posts</h3>
                        <h1 class="display-4">
                            <i class="fa fa-pencil"></i> 6
                        </h1>
                        <a routerLink="/posts" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Categories</h3>
                        <h1 class="display-4">
                            <i class="fa fa-folder-open-o"></i> 4
                        </h1>
                        <a routerLink="/categories" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>
                <div class="card text-center bg-warning text-white mb-3">
                    <div class="card-body">
                        <h3>Users</h3>
                        <h1 class="display-4">
                            <i class="fa fa-users"></i> 2
                        </h1>
                        <a routerLink="/users" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
